body {
    font-family: Arial;
    background: #f5f5f5;
}

.navbar {
    background: #0078D7;
    padding: 10px;
    margin-bottom: 20px;
}

.form-box {
    width: 400px;
    padding: 20px;
    margin: auto;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
}

.textbox {
    width: 100%;
    padding: 6px;
    margin-bottom: 10px;
}

.btn {
    background: #0078D7;
    color: white;
    border: 0;
    padding: 10px;
    width: 100%;
    cursor: pointer;
}

.msg {
    color: green;
    font-weight: bold;
    display: block;
    text-align: center;
}
